body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #0066cc;
    margin: 20px 0;
}

h2 {
    color: #13469a;
    margin: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #13469a;
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
    margin: 27px auto;
    flex-wrap: wrap;
}

nav a {
    flex: 1 1 auto;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 0 5px;
    min-width: 80px;
}

nav a:hover {
    background-color: #ffffff63;
    border-radius: 8px;
}

nav .active {
    font-weight: bold;
    color: #132b53;
}

.section {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #000;
}

.section p {
    line-height: 1.6;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin: 20px auto;
}

.gallery img {
    width: 100%; 
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr; 
    }

    .gallery img {
        margin-bottom: 20px; 
    }
}

.content-with-image {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #e6f2ff;
    border: 3px solid #003366;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.content-with-image .text {
    width: 35%;
    padding: 20px;
    border: 3px solid #003366;
    background-color: #e6f2ff;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-right: 5%;
    gap: 20px;
}

.content-with-image .image {
    width: 35%;
    border: 3px solid #003366;
    background-color: #e6f2ff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.content-with-image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.content-with-image .image:hover img {
    transform: scale(1.05);
}

.main-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

li:hover {
    background-color: #e6f2ff;
    padding-left: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

li.active {
    font-weight: bold;
    color: #13469a;
    background-color: #cfe2ff;
    border-left: 5px solid #0066cc;
    padding-left: 30px;
}

ul li {
    background-color: #f9f9f9;
    padding-left: 25px;
    margin-bottom: 12px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

.kryterium {
    text-align: left;
    margin: 20px 0;
    font-size: 20px;
}

.star {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
    margin-right: 5px;
}

.star.active {
    color: #ffd700; 
}

.filter-container {
    margin: 10px 0;
    text-align: center;
}

#continent-filter, #filter-type {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        height: auto;
    }

    nav a {
        flex: 1 1 45%;
        margin-bottom: 10px;
    }

    .content-with-image {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .content-with-image .text {
        width: 100%; 
        margin: 0;
        
    }

    .content-with-image .image {
        width: 100%; 
        margin: 0;
    }

    .content-with-image .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .star {
        font-size: 18px; 
    }
}

@media (min-width: 1000px) {
    nav {
        max-width: 100%;
    }
}
