body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #0066cc;
}

nav{
    /*
    width: 575px;
    height: 50px;
    margin: 27px auto;
    background-color: #000;
    border-radius: 8px;
    */
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0 10px; 
    background-color: #13469a;
    border-radius: 8px;
    width: 90%; 
    max-width: 1000px; 
    margin: 27px auto;
    flex-wrap: wrap;
}

nav a{
    /*
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    cursor: pointer;
    */
    flex: 1 1 auto; 
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 0 5px; 
    min-width: 80px; 
}

nav a:hover{
    background-color: #ffffff63;
    border-radius: 8px;
}

@media (max-width:600px){
    nav{
        flex-wrap: wrap;
        height: auto;
    }
    nav a{
        flex: 1 1 45%;
        margin-bottom: 10px;
    }

}
@media (min-width: 1000px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav {
        max-width: 100%;
    }
}

nav .active {
    font-weight: bold;
    color: #132b53;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}



h2{
    text-align: center;
}

.filter-container {
    margin: 10px 0;
    text-align: center;
}

#continent-filter, #filter-type {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.section {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #000;
}

.section p {
    line-height: 1.6;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}


.kryterium {
    text-align: left;
    margin: 20px 0;
    font-size: 30px;
}


.star {
    color: #ccc; /* Szare gwiazdki domyślnie */
}

.star.active {
    color: #ffd700; /* Żółte gwiazdki aktywne */
}

